@page "/Revista-editar/{nombre}"

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager



<h3>Revista</h3>


<EditForm Model="@revista">
    <div class="form-group">
        <label for="Titulo">Ingrese Titulo</label>
        <InputText id="Titulo" @bind-Value="revista.Titulo" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Autor">Autor</label>
        <InputText id="Autor" @bind-Value="revista.Autor " class="form-control" />
    </div>
    <div class="form-group">
        <label for="Genero">Genero</label>
        <InputText id="Genero" @bind-Value="revista.Genero" class="form-control" />
    </div>
    <div class="form-group">
        <label for="AnPublicacion">AnPublicacion</label>
        <InputDate id="AnPublicacion" @bind-Value="revista.AnPublicacion" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Volumen">¿Volumen?</label>
        <InputNumber id="Volumen" @bind-Value="revista.Volumen" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NumEjemp">NumEjemp (m)</label>
        <InputNumber id="NumEjemp" @bind-Value="revista.NuEjemp" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="@Guardar">Guardar</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public string nombre { get; set; }
    private Revistas revista = new Revistas();
    List<Revistas> ListRevistas = new List<Revistas>();

    protected async Task Guardar()
    {
        await localStorage.SetItemAsync("ListRevistas ", ListRevistas);

        NavigationManager.NavigateTo("/Revista");
    }

    protected override async Task OnInitializedAsync()
    {
        ListRevistas = await localStorage.GetItemAsync<List<Revistas>>("ListRevistas");
        if (ListRevistas == null)
            ListRevistas = new List<Revistas>();

        revista = ListRevistas.FirstOrDefault(c => c.Titulo  == nombre);
    }
}
